.base-div {
    padding: 1em;
    margin: auto;
    width: 60%;
    /* height: 80vh; */    
}

.bordered-div {
    border-radius: 2em;
    background-color: #6b0f1a46;
    background-image: linear-gradient(315deg, #6b0f1a4b 0%, #b9137144 74%);
}

.first-profile-div {
    background-color: #86165750;
    background-image: linear-gradient(326deg, #86165733 0%, #ffa69e48 74%);
    min-height: 70vh;
}

.second-profile-div {
    padding: 3em;  
    background-color: rgba(255, 255, 255, 0.349);
}

.prof-img {
    display:block;
    margin:auto;
    width: 15em;
    height: 15em;  
    /* width: 300px;
    height: 300px;     */
    /* width: 70%;
    height: auto;     */
    transform:scale(1);
    transition: transform 0.5s ease;
}

.prof-img:hover {
    transform:scale(1.2);
}

.input-center {
    text-align: center;
    margin:auto;
}

.keisti-mygtukas {
    position: absolute;
    bottom: 2em;
    right: 2em;
}
