.base-div {
    padding: 1em;
    margin: auto;
    width: 60%;
    /* height: 80vh; */    
}

.bordered-div {
    border-radius: 2em;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}

.first-profile-div {
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
    min-height: 70vh;
}

.second-profile-div {
    padding: 3em;  
    background-color: white;
}

.prof-img {
    display:block;
    margin:auto;
    width: 300px;
    height: 300px;    
}

.input-center {
    text-align: center;
    margin:auto;
}

.keisti-mygtukas {
    position: absolute;
    bottom: 2em;
    right: 2em;
}